*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior:smooth;
}

/* NAVBAR  */

nav{
    background-color: rgb(88, 176, 181);
}
#navbarNav{
    justify-content: center;
    padding-right: 200px;
}
.navbar-nav{
    gap: 50px;
}
@media screen {
    @media(max-width : 991.5px){
        .navbar-nav{
            gap: 0px;
        }
    }
}
.nav-link{
    color: #fff;
    font-weight:800;
    font-size: 20px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.formu , .ubi{
    background: rgb(93, 188, 201);
    width: 50%;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
iframe{
    width: 100%;
    height: 100%;
}
@media (max-width:900px){
    .contact{
        flex-wrap: wrap;
    }
    .ubi, .formu{
        height: 630px;
        width: 80%;
    }
    
}

h2{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    
}
input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid rgb(47, 146, 152);
}
textarea{
    resize: none;
    max-width: 100%;
}
label{
    color: #fff;
    font-weight: 700;
}
input:focus, textarea:focus{
   outline:none;
}
#button{
    width: 50%;
    margin-left: 25%;
    font-size: 30px;
    font-weight: bolder;
    border: 3px solid rgb(47, 146, 152);
    border-radius: 20px;
    background: rgb(47, 147, 152);
    color: #ffffff;
    padding: 20px;
}
#button:hover{
    cursor: pointer;
    border: 2px solid white;
}


/* Comunicate */
.iconos a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 20%;
    height: 20%;
    line-height: 45px;
    color:#fff;
    margin-right: 10px;
    background-color:rgb(40, 99, 102);
    border-radius: 20px;
    text-align: center;
    transition: all 300ms ease;
}
.iconos a:hover{
    border: 3px solid rgb(40, 99, 102);
    background: rgb(147, 211, 216);
    color: black;
    font-weight: 700;
}
@media (max-width:600px){
    .iconos a{
        width: 30%!important;
        margin-right: 0;
    }
}

/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: rgb(88, 176, 181);
}
.red-social{
    padding-top: 10px;
}
.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    
    color:#fff;
    margin-right: 10px;
    background-color:rgb(2, 19, 20);
    border-radius: 20px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: rgb(40, 99, 102);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){

    .red-social a{
        width: 25px;
        height: 25px;
        line-height:25px;
        
    }
}   