*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior:smooth;
}

/* NAVBAR  */
nav{
    background-color: rgb(88, 176, 181);
}
#navbarNav{
    justify-content: center;
    padding-right: 200px;
}
.navbar-nav{
    gap: 50px;
}
@media screen {
    @media(max-width : 991.5px){
        .navbar-nav{
            gap: 0px;
        }
    }
}
.nav-link{
    color: #fff;
    font-weight:800;
    font-size: 20px;

}

/* CARRUSEL */
.carousel-caption button{
    font-size: 30px;
}@media screen and (max-width:1500px) {
    .carousel-caption button{
        font-size: 28px;
    }
}
@media screen and (max-width:1200px) {
    .carousel-caption button{
        font-size: 26px;
    }
}
@media screen and (max-width:900px) {
    .carousel-caption button{
        font-size: 24px;
    }
}
@media screen and (max-width:750px) {
    .carousel-caption button{
        font-size: 21px;
    }
}
@media screen and (max-width:650px) {
    .carousel-caption button{
        font-size: 19px;
    }
}
@media screen and (max-width:550px) {
    .carousel-caption button{
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    .carousel-caption button{
        font-size: 12px;
    }
}




/* TEXTO INFO */
.caja{
    background-color: rgb(104, 169, 173);
    padding: 20px;
}
.caja p,.caja ul li{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
@media(max-width:500px){
    .caja p, .caja ul li{
        font-size: 18px;
    }
}
@media(max-width:400px){
    .caja p, .caja ul li{
        font-size: 16px;
    }
}
@media(max-width:350px){
    .mvv p,.caja ul li{
        font-size: 13px;
    }   
}
.mvv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align:start;
    gap: 20px;
}
.mi,.vi,.va{
    width: 40%;
    
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #fff ;
}
.mi:hover, .vi:hover, .va:hover{
    background-color:rgb(40, 99, 102);
    color: #fff;   
}
.mi:hover p, .vi:hover p, .va:hover p{
    color: #fff;
    font-weight: 500;
}


/* SERVICIOS */
.serv{
    padding: 20px;
    margin: 0;
}
.tit{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;   
    padding: 20px;
}
.bot button{
    width: 200px;
    padding: 0;   
}
.bot button img{
    padding: 0;
    width: 200px;
    
}
.bot button:hover{
    border: 1px solid rgb(40, 99, 102);
    background: rgb(147, 211, 216);
}
.modal-content{
    background:rgb(147, 211, 216);
    border-radius: 40px;
}
.modal-body h1{
    color: black;
}
.modal-body p{
    font-weight: 600;
}
.card-body{
    text-align: center;
    color: rgb(95, 95, 95);
}
.nav-img{
    display: flex;
    
}
.nav-item img{
    width: 30%;
}


/* GALERIA */

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
    width: 100%;
    /* height: 250px; */
}

#galeria img:hover{
    border: 5px solid rgb(40, 99, 102);
    border-radius: 20px;
}



/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: rgb(88, 176, 181);
}
.red-social{
    padding-top: 10px;
}
.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    
    color:#fff;
    margin-right: 10px;
    background-color:rgb(2, 19, 20);
    border-radius: 20px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: rgb(40, 99, 102);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){

    .red-social a{
        width: 25px;
        height: 25px;
        line-height:25px;
        
    }
}   