*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior:smooth;
}

/* NAVBAR  */

nav{
    background-color: rgb(88, 176, 181);
}
#navbarNav{
    justify-content: center;
    padding-right: 200px;
}
.navbar-nav{
    gap: 50px;
}
@media screen {
    @media(max-width : 991.5px){
        .navbar-nav{
            gap: 0px;
        }
    }
}
@media (max-width:700px){
    .pr p{
        font-size: 20px;
    }
}
@media (max-width:500px){
    .pr p{
        font-size: 18px;
    }
}
@media (max-width:400px){
    .pr p{
        font-size: 16px;
    }
}
.nav-link{
    color: #fff;
    font-weight:800;
    font-size: 20px;

}
.card.shadow-sm{
    height: 100%;
}

@media screen and (max-width:575.5px) {
        .container{
            width: 80%;
            display: flex;
            justify-content: center;
        }
} 
    
.modal-content{
    background:rgb(147, 211, 216);
    border-radius: 40px;
}
.modal-body h1{
    color: black;
}
.modal-body p{
    font-weight: 600;
}
.card{
    background:linear-gradient(rgb(47, 147, 152), rgb(186, 216, 239));
    border-radius: 40px;
    border: 4px solid rgb(47, 146, 152);
}
.card-body{
    text-align: center;
    color: rgb(48, 48, 48);
}


/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: rgb(88, 176, 181);
}
.grupo-1{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:25px 0px;
}
.box li{
    padding: 10px;
    display: inline-block;
    
}
.box a{
    font-size: 20px;
    text-decoration: none;
    color:#fff;
    font-weight: 600;
}
.box ul{
    list-style: none;
}
.box h4{
    color: #fff;
    font-weight:bold;
    text-align: center;
}
.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#fff;
    margin-right: 10px;
    background-color:rgb(40, 99, 102);
    border-radius: 20px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
}
.box ul li a:hover{
    color: black;
}
.pie-pagina .grupo-2{
    background-color: rgb(40, 99, 102);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .box ul li a, .box h2{
        font-size: 16px!important;
     }
    .red-social a{
        width: 30px;
        height: 30px;
        line-height:30px;
        
    }
    .box h4{
        text-align: center;
    }
}   