*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
nav{
    background-color: rgb(88, 176, 181);
}
.nav-item a{
    color: #fff;
}
.caja{
    margin: 20px;
    padding: 50px;
    text-align: justify;
}
.encabezado{
    text-align: center;
}
.encabezado img{
    width: 250px;
}